.app {
  background-color: #282c34;
  color: white;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-nav {
  display: flex; 
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.app-nav-header {
  margin: 10px;
}

.app-nav-connect {
  float: right;
  margin: 10px;
}

.button {
  padding: 10px;
  border-radius: 15px;
  background-color: #282c34;
  border-width: 1px;
  color: white;
}